<!DOCTYPE html>
<html lang="en">

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <style>
    .answerprofile {
      display: flex;
      border-radius: 50%;
      margin-bottom: 65px;
    }
  </style>
</head>

<body>
  <app-navigation></app-navigation>
  <div>
    <div class="container mt-3">
      <div style="display:flex">
        <div style="display: flex;flex-direction: column;padding-right: 10px;">
          <i class="fa fa-chevron-circle-up" (click)="upvote()" style="font-size:36px" [style.color]="upvotecolor"></i>
          <span style="padding-left: 10px;font-weight: bold;">{{question_answer[0].vote}}</span>
          <i class="fa fa-chevron-circle-down" (click)="downvote()" style="font-size:36px"
            [style.color]="downvotecolor"></i>
        </div>
        <h2 *ngIf="question_answer[0] && question_answer[0].questionValue">{{question_answer[0].questionValue}}</h2>
      </div>
      <p>{{question_answer[0].description}}</p><br>
    </div>
  </div>
  <div class="container mt-3">
    <h2>Answers</h2>
    <br>
    <div *ngFor="let answer of question_answer[0].answerList;index as i">
      <div [attr.data-index]="i" class="media border p-3">
        <div style="display:flex">
          <div style="display: flex;flex-direction: column;padding-right: 10px;">
            <i class="fa fa-chevron-circle-up" (click)="answerupvote(i)" style="font-size:36px"
              [style.color]="answerupvotecolor[i]"></i>
            <span style="padding-left: 10px;font-weight: bold;">{{answer.vote}}</span>
            <i class="fa fa-chevron-circle-down" (click)="answerdownvote(i)" style="font-size:36px"
              [style.color]="answerdownvotecolor[i]"></i>
          </div>
          <img
            src="https://lh4.googleusercontent.com/-fZzK_YUIcqk/AAAAAAAAAAI/AAAAAAAAAAA/ACHi3rd12YKwCBRR_HqDImDrbWf27ZfKog/s96-c/photo.jpg"
            alt="John Doe" class="answerprofile" style="width:45px;">
        </div>
        <div class="media-body" style="padding-left: 10px;">
          <h4>{{answer.empName}} </h4>
          <p>{{answer.answerValue}}</p>
          
          <div class="media p-3">
            <img
              src="https://lh4.googleusercontent.com/-fZzK_YUIcqk/AAAAAAAAAAI/AAAAAAAAAAA/ACHi3rd12YKwCBRR_HqDImDrbWf27ZfKog/s96-c/photo.jpg"
              alt="Jane Doe" class="mr-3 mt-3 rounded-circle" style="width:45px;">
            <div class="media-body">
              <h4>Jane Doe </h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.</p>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="container mt-3">
      <h2>Your Answer</h2>
      <br>
      <form [formGroup]='AnswerForm' (ngSubmit)='onSubmit()'>
        <div>
          <h4>
            Description:
          </h4>
          <textarea row='50' cols='50' type="comment" formControlName='description'></textarea>
        </div>
        <input type='submit' id='buttonId'>
      </form>
    </div>
  </div>

</body>

</html>